.grid {
  height: 50vh;
  display: grid;
  gap: 5px;
  grid-template-columns: max-content min-content;
  grid-auto-rows: 100px;
  margin-bottom: 30px;
  /* grid-template-columns는 틀의 수가 정해져있는데 
  그걸 넘어가면 다 텍스트 사이즈에 맞게 줄어드는데 
  그걸 방지하기 위해 생긴 것 */
}
/* .grid:first-child {
  background-color: darkblue;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.grid:nth-child(2) {
  background-color: darkcyan;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
} */
.item:nth-child(odd) {
  background-color: lightgreen;
}
.item:nth-child(even) {
  background-color: lightcyan;
}
