body {
  display: flex;
  flex-direction: column;
  /* main axis */
  justify-content: space-evenly;
  /* cross axis */
  align-items: center;
  height: 100vh;
}
.box {
  background-color: darkcyan;
  width: 100px;
  height: 100px;
  margin-bottom: 2px;
  display: inline-block;
}
/* 
display: block -> box 자체라서 옆에 존재하는 여백도 그냥 두는거야 옆으로 올 수 없게, 밑에만 오게
display: inline -> 박스야 
display: inline-block -> 블록 속성은 유지하면서 박스야

블럭 속성을 가지고 있다면 너비와 높이가 존재해
하지만 인라인을 가지고 있다면 너비와 높이를 함께할 수 없어
*/
/* flex-box
요소들에 붙어있는 부모(요소들 감싸고 있는 바로 위 부모..?)에게 flex가 존재해야 해
row_x_가로_수평
column_y_세로_수직
*/
