.father {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
}
.child {
  background-color: darkcyan;
  color: white;
  width: 200px;
  height: 170px;
  flex-basis: 200px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
.child:nth-child(2) {
  background-color: black;
  flex-grow: 1;
}
