* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 65%;
  height: 85%;
  background-color: white;
  border-radius: 5px;
}
.header {
  width: 100%;
  height: 30px;
  background-color: #bcbec0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: flex-start;
  gap: 200px;
  align-items: center;
}
.circles {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #a5a7a9;
}
.square {
  width: 50%;
  height: 70%;
  border: 1px solid #a5a7a9;
  border-radius: 5px;
}
.grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* grid-template-areas:
    "text none long long"
    "text none long long"
    "none none long long"; */
}
.box1 {
  background-color: black;
  color: white;
  font-size: 25px;
}
.box2 {
  background-color: #6d01fe;
}
.box3 {
  background-color: white;
  grid-column: 3;
  grid-row: 1 / 4;
  font-size: 20px;
}
.box3 p:nth-child(7) {
  background-color: #6d01fe;
}
.box4 {
  background-color: white;
  grid-column: 4;
  grid-row: 1 / 4;
  font-size: 20px;
  border-bottom-right-radius: 5px;
}
.box5 {
  background-color: #ff1703;
  grid-column: 1;
  grid-row: 2 / 4;
  font-size: 25px;
  border-bottom-left-radius: 5px;
}
.box6 {
  background-color: white;
}
.box7 {
  background-color: #ffca09;
  font-size: 25px;
}
.title {
  font-size: 13px;
  margin-bottom: 10px;
}
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7 {
  padding: 10px;
}
